@import '../../styles/index.scss';

.proyectsCard {
	height: 576px;
	width: 538px;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	position: relative;
	margin-right: 110px;
	display: inline-block;
	white-space: normal;

	&:last-child {
		margin-right: 15px;
	}

	@include max-breakpoint('xlarge') {
		height: 476px;
		width: 438px;
	}

	@include max-breakpoint('medium') {
		height: 426px;
		width: 388px;
	}

	@include max-breakpoint('small') {
		height: 388px;
		width: 350px;
		margin-right: 50px;
	}

	@include max-breakpoint('xsmall') {
		height: 288px;
		width: 250px;
	}

	&::before {
		content: '';
		background: transparent
			url('https://res.cloudinary.com/bmongemendez/image/upload/w_auto,dpr_auto,c_scale,f_auto,q_auto/v1611538296/jmendezconstructorasa/paperBackground')
			center/cover no-repeat;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		border-radius: var(--border-radius);
		opacity: 0.4;
	}
	.proyectsCard__image-container {
		width: 308px;
		height: 100%;
		position: absolute;
		right: 0;

		@include max-breakpoint('xsmall') {
			width: 208px;
		}

		.proyectsCard__image{
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.proyectsCard__text-container {
		height: 171px;
		width: 348px;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 56px;
		background: transparent
			linear-gradient(
				90deg,
				var(--color-primary) 0%,
				var(--color-secondary) 100%
			)
			center/cover no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);

		@include max-breakpoint('large') {
			height: 125px;
			width: 298px;
			left: 5%;
		}

		@include max-breakpoint('small') {
			height: 125px;
			width: 298px;
			top: unset;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
		}

		@include max-breakpoint('xsmall') {
			transform: translate(-50%, 50%);
			width: 250px;
		}
	}

	.proyectsCard__tex {
		max-width: 222px;
		font: var(--font-normal__raleway);
		color: var(--color-font__normal-light);
		text-align: center;
		text-transform: uppercase;
	}
}
