@import '../../styles/index';

.servicesPageCard {
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	cursor: pointer;
	display: inline-grid;
	font: var(--font-normal__raleway);
	grid-template-rows: repeat(2, 1fr);
	height: 300px;
	overflow: hidden;
	place-items: center;
	position: relative;
	text-decoration: none;
	transition: all ease-out 0.3s;
	width: 350px;

	@include max-breakpoint('large') {
		height: 250px;
		width: 300px;
	}

	@include max-breakpoint('medium') {
		height: 300px;
		margin-bottom: 50px;
		width: 350px;

		&:last-child() {
			margin-bottom: 0;
		}
	}

	@include max-breakpoint('xsmall') {
		height: 200px;
		width: 250px;
	}

	.servicesPageCard__image {
		@extend %disable-select;

		grid-row: 1/2;
		height: 200px;
		object-fit: contain;
		object-position: center;
		transition: inherit;
		width: 100%;

		@include max-breakpoint('large') {
			height: 150px;
		}

		@include max-breakpoint('medium') {
			height: 200px;
		}

		@include max-breakpoint('xsmall') {
			height: 100px;
		}
	}

	.servicesPageCard__text-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		grid-row: 2/3;
		transform: translateY(64%);
		transition: inherit;
		width: 100%;
	}

	&:hover {
		&::before {
			background: var(--color-tertiary);
			content: '';
			height: 100%;
			left: 0;
			opacity: 0.1;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.servicesPageCard__image {
			transform: scale(1.03);
		}

		.servicesPageCard__link {
			opacity: 1;
		}

		.servicesPageCard__text-container {
			transform: translateY(0);
		}
	}

	.servicesPageCard__text {
		border-top: 1px solid var(--color-tertiary);
		color: var(--color-font__normal-dark);
		text-align: center;
		width: 80%;
	}

	.servicesPageCard__text-quotation {
		background:
			transparent
			linear-gradient(180deg,
			var(--color-primary) 0%,
			var(--color-secondary) 100%)
			center/cover no-repeat;
		color: var(--color-font__normal-light);
		font-size: 27px;
		font-weight: 700;
		text-align: center;
		width: 100%;
	}
}
