@import '../../styles/index.scss';

.imageGalleryPage {
	position: relative;

	.imageGalleryPage__top-content-container {
		padding: 230px 0 0 0;
		position: relative;
		border-bottom: 1px solid var(--color-tertiary);

		@include max-breakpoint('small') {
			padding: 130px 0 0 0;
		}

		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			background: transparent url(../../img/servicesPageTopBackground.jpg)
				center/cover no-repeat;
			opacity: 0.1;
		}
	}

	.imageGalleryPage__header-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		margin-bottom: 80px;
		padding: 0;

		@include max-breakpoint('xsmall') {
			margin-bottom: 50px;
		}
	}

	.imageGalleryPage__header2 {
		transform: translate(0, 0);
	}

	.imageGalleryPage__images-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(12, 500px);

		@include max-breakpoint('large') {
			grid-template-rows: repeat(12, 300px);
		}

		@include max-breakpoint('xsmall') {
			grid-template-rows: repeat(12, 150px);
		}

		.imageGalleryPage__images-img {
			height: 100%;
			width: 100%;

			&:nth-child(2) {
				grid-column: 2/4;
				grid-row: 3/4;
			}

			&:nth-child(1) {
				grid-column: 1/3;
				grid-row: 1/2;
			}

			&:nth-child(10) {
				grid-column: 1/3;
				grid-row: 4/6;
			}

			&:nth-child(13) {
				grid-column: 2/4;
				grid-row: 7/8;
			}

			&:nth-child(12) {
				grid-column: 1/2;
				grid-row: 8/10;
			}

			&:nth-child(23) {
				grid-column: 2/4;
				grid-row: 10/11;
			}
			&:nth-child(27) {
				grid-column: 2/4;
				grid-row: 12/13;
			}

			&:nth-child(25) {
				grid-column: 3/4;
				grid-row: 8/9;
			}
		}
	}

	.imageGalleryPage__section-selector-container {
		width: 100%;
		font: var(--font-normal__raleway);
		color: var(--color-font__normal-dark);
		border-bottom: 1px solid var(--color-tertiary);
		display: flex;
		justify-content: center;
	}

	.imageGalleryPage__section-selector {
		border: 1px solid var(--color-tertiary);
		transform-origin: center bottom;
		background-color: var(--color-secondary);
		@extend %disable-select;
		border-bottom: none;
		position: relative;
		border-radius: var(--border-radius) var(--border-radius) 0 0;

		text-align: center;
		.imageGalleryPage__section-selector-link {
			display: block;
			cursor: pointer;
			padding: 10px 150px;
			color: var(--color-font__normal-light);
			text-decoration: none;
			transform: scaleY(inherit);

			@include max-breakpoint('small') {
				padding: 10px 50px;
			}
		}

		.imageGalleryPage__section-selector-link--active::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 15px;
			top: -10%;
			left: 0;
			background-color: transparent;
		}
	}
}
