@import '../../styles/index.scss';

.home {
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;

	&::before {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: transparent url('../../img/homeBackground.jpg') center/cover
			no-repeat;
		z-index: -1;
		opacity: 0.04;
		box-shadow: var(--box-shadow);
	}

	@include max-breakpoint('large') {
		&::before {
			opacity: 1;
			z-index: -1;
		}

		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(
				90deg,
				rgba(var(--color-primary-rgb), 1) 0%,
				rgba(var(--color-secondary-rgb), 1) 100%
			);
			opacity: 0.7;
		}
	}

	.home__intro-container {
		height: 100vh;
		width: 100%;
		background: transparent url('../../img/homeBackground.jpg') center/cover
			no-repeat;
		position: fixed;
		z-index: 5000;
		display: none;
		justify-content: center;
		align-items: center;

		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background: var(--color-body);
			opacity: 0.96;
			z-index: -1;
			box-shadow: var(--box-shadow);
		}

		.home__intro-image {
			height: 171px;
			display: block;
			position: absolute;
			opacity: 0;

			@include max-breakpoint('large') {
				height: 121px;
			}

			@include max-breakpoint('xsmall') {
				height: 80px;
			}
		}

		.home__intro-text-container {
			text-align: center;
		}

		.home__intro-text {
			font: var(--font-header1);
			font-size: rem(72px + 18px);
			color: var(--color-font__normal-dark);
			display: inline-block;
			transform: translateY(100%);
			padding: 15px;

			@include max-breakpoint('xxlarge') {
				font: var(--font-header1);
			}

			@include max-breakpoint('xsmall') {
				padding: 8px;
			}
		}

		.hide {
			display: inline-block;
			background-color: transparent;
			overflow: hidden;

			& + .hide {
				margin-left: 50px;
			}

			@include max-breakpoint('large') {
				& + .hide {
					margin-left: 0;
				}
			}
		}
	}

	.home__image {
		height: 691px;
		width: 959px;
		background: transparent url('../../img/homeImage.jpg') center/cover
			no-repeat;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		position: absolute;
		right: 100px;
		transform: translateY(50px);

		@include max-breakpoint('xlarge') {
			height: calc(100% - 500px);
			width: 60%;
			right: 50px;
			bottom: 150px;
		}

		@include max-breakpoint('large') {
			/* 	height: 100%;
			width: 100%;
			right: 0;
			left: 0;
			bottom: 0;
			transform: translateY(0);
			z-index: -1; */
			display: none;
		}
	}

	.home__items {
		height: 507px;
		width: 860px;
		background-image: url('../../img/homeItemsBackgroundImage.jpg');
		background-position: center;
		background-size: cover;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		position: absolute;
		left: 100px;
		transform: translateY(50px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(
				90deg,
				rgba(var(--color-primary-rgb), 0.8) 0%,
				rgba(var(--color-secondary-rgb), 0.5) 100%
			);
			border-radius: var(--border-radius);
		}

		@include max-breakpoint('xlarge') {
			left: 50px;
			top: 150px;
			height: calc(100% - 500px);
			width: 60%;
		}

		@include max-breakpoint('large') {
			height: 100%;
			width: 100%;
			box-shadow: none;
			left: 50%;
			top: 50%;
			// background-image: url('../../img/homeItemsBackgroundImage.jpg');
			background: none;
			transform: translate(-50%, -50%);
			z-index: 20;

			&::before {
				background: none;
			}
		}

		@include max-breakpoint('xsmall') {
			padding-top: 30px;
		}
	}

	.home__items-slogan {
		height: 160px;
		width: 628px;
		position: relative;

		@include max-breakpoint('xlarge') {
			width: 528px;
			height: 135px;
		}

		@include max-breakpoint('small') {
			width: calc(100% - 50px);
			height: 135px;
		}

		@include max-breakpoint('xsmall') {
			height: 121px;
		}
	}

	.home__items-slogan-background {
		height: 139px;
		width: 604px;
		background-color: var(--color-body);
		opacity: 0.8;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		position: absolute;
		bottom: 0;
		left: 0;

		@include max-breakpoint('xlarge') {
			width: 504px;
			height: 114px;
		}

		@include max-breakpoint('small') {
			width: calc(100% - 24px);
			height: 114px;
		}

		@include max-breakpoint('xsmall') {
			height: 100px;
		}
	}

	.home__items-slogan-text {
		height: 139px;
		width: 604px;
		background-color: var(--color-body);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		position: absolute;
		z-index: 1000;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font: var(--font-normal__bitter);
		font-size: rem(36px);
		text-align: center;

		@include max-breakpoint('xlarge') {
			width: 504px;
			height: 114px;
		}

		@include max-breakpoint('small') {
			width: calc(100% - 25px);
			height: 114px;
		}

		@include max-breakpoint('xsmall') {
			height: 100px;
			font-size: 27px;
		}
	}

	.home__items-button {
		margin-top: 40px;

		@include max-breakpoint('xsmall') {
			padding: 15px 15px;
		}
	}

	.home__arrow {
		height: 18px;
		width: 24px;
		background-color: var(--color-tertiary);
		-webkit-mask: url('../../img/downArrow.svg') no-repeat center;
		mask: url('../../img/downArrow.svg') no-repeat center;
		position: absolute;
		z-index: 50;
		left: 50%;
		bottom: 35px;
		animation: arrowPulse 0.5s ease-out infinite alternate;
		cursor: pointer;
		@extend %disable-tap-highlight;

		@include max-breakpoint('large') {
			background-color: var(--color-body);
			animation: arrowPulse2 0.5s ease-out infinite alternate;
		}
	}

	.home__arrow:hover {
		background-color: var(--color-secondary);
	}

	@keyframes arrowPulse {
		from {
			transform: translateX(-50%) scale(1);
			background-color: var(--color-tertiary);
		}
		to {
			transform: translateX(-50%) scale(1.3);
			background-color: var(--color-secondary);
		}
	}

	@keyframes arrowPulse2 {
		from {
			transform: translateX(-50%) scale(1);
		}
		to {
			transform: translateX(-50%) scale(1.3);
		}
	}
}
