@import '../../styles/index.scss';

.button {
	padding: 22px 60px;
	font: var(--font-normal__raleway);
	text-transform: uppercase;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1000;
	cursor: pointer;
	outline: none;
	border: none;
	@extend %disable-select;
	@extend %disable-tap-highlight;
}

.button--primary {
	background: var(--color-body);

	&:hover {
		background: var(--color-secondary);
		color: var(--color-font__normal-light);
	}
}

.button--secondary {
	background: var(--color-secondary);
	color: var(--color-font__normal-light);

	&:hover {
		background: var(--color-body);
		color: var(--color-font__normal-dark);
		border: 3px solid var(--color-secondary);
	}
}
