@import '../../styles/index.scss';

.form {
	background:
		transparent
		url('https://res.cloudinary.com/bmongemendez/image/upload/w_1158,h_535,dpr_auto,c_fill,f_auto,q_auto/v1611538303/jmendezconstructorasa/formBackgroundImage')
		center/cover no-repeat;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	display: grid;
	height: 535px;
	left: 50%;
	place-items: center;
	position: relative;
	transform: translateX(-50%);
	width: 1158px;

	@include max-breakpoint('xlarge') {
		height: auto;
		padding: 40px;
		width: 783px;
	}

	@include max-breakpoint('large') {
		width: 583px;
	}

	@include max-breakpoint('medium') {
		padding: 30px;
		width: 100%;

		.form__decoration-top-right,
		.form__decoration-bottom-left {
			display: none;
		}
	}

	@include max-breakpoint('xsmall') {
		padding: 20px;
	}

	&::after {
		background-color: var(--color-primary);
		border-radius: var(--border-radius);
		content: '';
		height: 100%;
		left: 0;
		opacity: 0.85;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.form__decoration-top-right {
		border-radius: var(--border-radius);
		height: 170px;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(75px, -75px);
		width: 170px;

		&::before {
			background:
				transparent
				linear-gradient(270deg,
				var(--color-primary) 0%,
				var(--color-secondary) 100%)
				center/cover no-repeat;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
			content: '';
			height: 5px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&::after {
			background:
				transparent
				linear-gradient(180deg,
				var(--color-primary) 0%,
				var(--color-secondary) 100%)
				center/cover no-repeat;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
			content: '';
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 5px;
		}
	}

	.form__decoration-bottom-left {
		border-radius: var(--border-radius);
		bottom: 0;
		height: 340px;
		left: 0;
		position: absolute;
		transform: translate(-75px, 75px);
		width: 340px;

		&::before {
			background:
				transparent
				linear-gradient(270deg,
				var(--color-primary) 0%,
				var(--color-secondary) 100%)
				center/cover no-repeat;
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 5px;
		}

		&::after {
			background:
				transparent
				linear-gradient(180deg,
				var(--color-primary) 0%,
				var(--color-secondary) 100%)
				center/cover no-repeat;
			border-radius: var(--border-radius);
			bottom: 0;
			box-shadow: var(--box-shadow);
			content: '';
			height: 5px;
			position: absolute;
			right: 0;
			width: 100%;
		}
	}

	.form__container {
		column-gap: 95px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height: 365px;
		position: relative;
		row-gap: 35px;
		width: 1025px;
		z-index: 100;

		@include max-breakpoint('xlarge') {
			column-gap: 0;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr) 195px 1fr;
			height: auto;
			width: 650px;
		}

		@include max-breakpoint('large') {
			padding: 0;
			width: 100%;
		}

		@include max-breakpoint('xsmall') {
			row-gap: 20px;
		}

		.form__input-container {
			background: var(--color-body);
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
			padding: 15px 30px;
			position: relative;

			@include max-breakpoint('xlarge') {
				&:nth-child(4) {
					grid-column: 1 / 2;
					grid-row: 4 / 5;
					height: 100%;
				}
			}

			&:nth-child(1) {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}

			&:nth-child(2) {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}

			&:nth-child(3) {
				grid-column: 1 / 2;
				grid-row: 3 / 4;
			}

			&:nth-child(4) {
				grid-column: 2 / 3;
				grid-row: 1 / 4;
				height: 100%;
			}

			.form__input-line {
				background-color: var(--color-primary);
				height: 1px;
				margin: 0;
				padding: 0;
				position: relative;
				top: 0;
				transform: scaleX(0);
				transform-origin: left;
				width: 100%;

				@keyframes inputLineAnimation {
					from {
						transform: scaleX(0);
					}

					to {
						transform: scaleX(1);
					}
				}
			}

			.form__input {
				@include placeholderStyle(
					color,
					rgba(var(--color-font__normal-dark-rgb), 0.5)
				);
				@include placeholderStyle(text-transform, uppercase);

				background: none;
				border: none;
				font: var(--font-normal__raleway);
				height: 100%;
				-moz-outline: none;
				outline: none;
				position: relative;
				text-transform: uppercase;
				width: 100%;

				&:focus + .form__input-line {
					animation: 0.3s forwards inputLineAnimation ease-out;
					transform: scaleX(1);
				}
			}

			.form__input.form__input-required {
				@include placeholderStyle(color, rgba(red, 0.5));
			}

			.form__textArea {
				overflow: auto;
				resize: none;
				vertical-align: top;
			}
		}

		.form__button {
			grid-column: 1 / 3;
			grid-row: 4 / 5;
			height: 100%;
			padding: 0;
			width: 100%;

			@include max-breakpoint('xlarge') {
				grid-column: 1 / 2;
				grid-row: 5 / 6;
			}
		}
	}

	/*

   ---- BORDER GRADIENT----

    .form__decoration-top-right {
		height: 170px;
		width: 170px;
		position: absolute;
		right: 0;
		top: 0;
		background: var(--color-body);
		padding: 5px 5px 0 0;
		background-clip: padding-box;
		border-top: solid 5px transparent;
		border-right: solid 5px transparent;
		border-radius: var(--border-radius);
	}

	.form__decoration-top-right::after {
		content: '' ;
		position: absolute;
		border-radius: inherit;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: transparent
			linear-gradient(
				270deg,
				var(--color-primary) 0%,
				var(--color-secondary) 100%
			)
			center/cover no-repeat;
		margin: -5px -5px 0 0;
		z-index: -1;
	} */
}
