@import '../../styles/index';

.constructionServices {
	@extend %section-padding;

	.constructionServices__header-container {
		display: grid;
		place-items: center;
	}

	.constructionServices__header1 {
		transform: translate(0);
	}

	.constructionServices__container {
		border-radius: var(--border-radius);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		height: 500px;
		place-items: center;

		@include max-breakpoint('medium') {
			grid-template-columns: 1fr;
		}
	}

	.constructionServices__text {
		border-right: 1px solid var(--color-primary);
		color: var(--color-font__normal-dark);
		font: var(--font-normal__raleway);
		padding: 100px;

		@include max-breakpoint('xxlarge') {
			padding: 60px;
		}

		@include max-breakpoint('large') {
			padding: 30px;
		}

		@include max-breakpoint('medium') {
			border-right: none;
			padding: 0 15px;
		}
	}

	.constructionServices__image {
		height: 260px;
		object-fit: cover;
		object-position: center;
		width: 300px;

		@include max-breakpoint('large') {
			height: 200px;
			width: 240px;
		}

		@include max-breakpoint('medium') {
			display: none;
		}
	}
}
