@import '../../styles/index.scss';

.sidebar {
	position: fixed;
	width: 384px;
	height: 130px;
	z-index: 200;
	color: var(--color-font__normal-light);
	font: var(--font-normal__raleway);
	transition: all 0.3s linear;
	overflow: hidden;
	display: grid;

	@include max-breakpoint('small') {
		width: 284px;
		height: 80px;
	}

	@include max-breakpoint('xsmall') {
		width: 240px;
	}

	.sidebar__active-background {
		transition: height 0s linear 0.3s, width 0s linear 0.3s, opacity 0.3s linear;
		position: fixed;
		height: 0;
		width: 0;
		top: 0;
		left: 0;
		background: var(--color-tertiary);
		opacity: 0;
		z-index: -1;
	}

	&.sidebar--active {
		width: 700px;
		height: 100vh;

		@include max-breakpoint('medium') {
			width: 100vw;
		}

		.sidebar__active-background {
			transition: height 0s linear 0s, width 0s linear 0s, opacity 0.3s linear;
			height: 100%;
			width: 100%;
			opacity: 0.8;
		}

		.sidebar__background {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

			&::after {
				//animation: 0.3s forwards sidebarAnimation linear;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
				background: var(--color-body);
				opacity: 0.95;
			}
		}

		.sidebar__opener {
			width: 156px;
			top: 25px;
			left: calc(100% - 156px - 50px);

			@include max-breakpoint('small') {
				width: 148px;
				left: calc(100% - 148px - 25px);
				height: 60px;
			}

			@include max-breakpoint(300px) {
				left: calc(100% - 148px - 10px);
			}

			.sidebar__opener-icon {
				position: relative;
				margin-right: 13px;
				height: 18px;
				width: 18px;
				-webkit-tap-highlight-color: transparent;

				.sidebar__opener-icon-line {
					height: 2px;
					display: inline;
					background-color: var(--color-font__normal-dark);

					&:nth-child(1) {
						position: absolute;
						top: 50%;
						width: 25.45px;
						transform: rotate(45deg) translateY(-50%);
					}
					&:nth-child(2) {
						width: 0;
					}
					&:nth-child(3) {
						position: absolute;
						bottom: 50%;
						width: 25.45px;
						transform: rotate(-45deg) translateY(50%);
					}
				}
			}

			.sidebar__opener-text {
				color: var(--color-font__normal-dark);
				-webkit-tap-highlight-color: transparent;
			}
		}

		.sidebar__list {
			transition: transform 0.3s linear, opacity 0.3s linear 0.3s;
			transform: translateX(0);
			opacity: 1;
		}
		.sidebar__logo {
			opacity: 1;
			transform: translateX(0) scaleY(1);
		}
	}

	.sidebar__background {
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 100%;
		background: transparent url(../../img/homeBackground.jpg) center/cover
			no-repeat;
		clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
		box-shadow: var(--box-shadow);
		transition: all 0.3s linear;
	}
	.sidebar__background::after {
		content: '';
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: var(--color-tertiary);
		clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
		opacity: 1;
		transition: inherit;
	}

	.sidebar__opener {
		height: 130px;
		width: 122px;
		display: flex;
		align-items: center;
		position: absolute;
		left: 100px;
		z-index: 100;
		top: 0;
		transition: all 0.3s linear;
		@extend %disable-select;

		@include max-breakpoint('xlarge') {
			left: 50px;
		}

		@include max-breakpoint('small') {
			height: 80px;
			left: 25px;
		}

		.sidebar__opener-icon {
			height: 18px;
			width: 18px;
			margin-right: 13px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			cursor: pointer;
		}

		.sidebar__opener-icon-line {
			background-color: var(--color-font__normal-light);
			height: 2px;
			display: inline;
			transition: transform 0.3s linear;

			&:nth-child(1) {
				width: 18px;
			}
			&:nth-child(2) {
				width: 13px;
			}
			&:nth-child(3) {
				width: 8px;
			}
		}

		.sidebar__opener-text {
			letter-spacing: 9px;
			cursor: pointer;
		}

		.sidebar__opener-icon:hover,
		.sidebar__opener-text:hover {
			.sidebar__opener-icon-line {
				background-color: var(--color-secondary);
			}
			color: var(--color-secondary);
		}
	}

	.sidebar__logo {
		height: 80px;
		left: 50px;
		top: 50px;
		position: absolute;
		object-fit: cover;
		object-position: center;
		opacity: 0;
		transform: translateX(-150%) scaleY(0);
		transition: all 0.3s linear;
		@extend %disable-select;

		@include max-breakpoint('small') {
			height: 60px;
			left: 25px;
			top: 25px;
		}

		@include max-breakpoint(300px) {
			left: 10px;
		}
	}

	.sidebar__list {
		position: absolute;
		display: grid;
		grid-template-rows: repeat(8, auto);
		transform: translateX(-110%);
		transition: transform 0.3s linear, opacity 0.05s linear 0s;
		opacity: 0;
		align-self: center;
		justify-self: center;
		padding-top: 130px;
		@extend %disable-tap-highlight;

		@include max-breakpoint('small') {
			padding-top: 80px;
		}

		//z-index: 100;

		.sidebar__list-item {
			list-style: none;
			font-size: rem(22.5px);
			z-index: 100;
			position: relative;

			@include max-breakpoint('xsmall') {
				font-size: rem(18px);
			}

			@include max-breakpoint(330px) {
				max-width: 250px;
			}
		}

		.sidebar__list-item-link {
			text-decoration: none;
			height: 100%;
			color: var(--color-font__normal-dark);
			display: flex;
			align-items: center;
			padding: 25px 0;
			border-radius: var(--border-radius);
			font: var(--font-normal__raleway);

			&:hover {
				background: rgba(var(--color-tertiary-rgb), 0.1);
			}

			@include max-breakpoint('large') {
				padding: 20px 0;
			}

			@include max-breakpoint('small') {
				padding: 10px 0;
			}

			@media screen and(max-height: 515px) {
				padding: 1px 0;
			}
		}

		.sidebar__list-item--secondary {
			padding-left: 50px;
			font-size: rem(22.5px);

			@include max-breakpoint('small') {
				padding-left: 25px;
			}

			@include max-breakpoint('xsmall') {
				font-size: rem(18px);
			}
		}
	}
}
