@import '../../styles/index';

.about {
	@extend %section-padding;
	@extend %scroll-margin;

	font: var(--font-normal__raleway);
	margin-bottom: 38.75px;
	position: relative;
	width: 100%;

	@include max-breakpoint('large') {
		margin-bottom: 100px;
	}

	//	scroll-margin-top: 140px; does not have support for IE

	.about__mission,
	.about__vission {
		display: grid;
		height: auto;
		padding: 73.5px 0;
		place-items: center;
		width: 50%;

		@include max-breakpoint('large') {
			margin-bottom: 0;
			padding: 40px 0;
			width: 100%;
		}

		@include max-breakpoint('xsmall') {
			padding: 20px 0;
		}
	}

	.about__mission {
		background:
			transparent
			url('https://res.cloudinary.com/bmongemendez/image/upload/w_840,h_497,dpr_auto,c_fill,f_auto,q_auto/v1611538303/jmendezconstructorasa/aboutBackgroundImage')
			center/cover no-repeat;
		border-radius: var(--border-radius) 0 0 var(--border-radius);
		box-shadow: var(--box-shadow);
		float: left;
		position: relative;

		@include max-breakpoint('large') {
			border-radius: var(--border-radius);

			&::before {
				border-radius: var(--border-radius);
			}
		}

		&::before {
			background-color: rgba(var(--color-primary-rgb), 0.85);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.about__mission-text {
			color: var(--color-font__normal-light);
			position: relative;
			z-index: 100;
		}
	}

	.about__vission {
		@include max-breakpoint('large') {
			border-radius: var(--border-radius);
			box-shadow: var(--box-shadow);
		}
	}

	.about__mission-container,
	.about__vission-container {
		display: block;
		height: 350px;
		width: 85%;

		@include max-breakpoint('xxlarge') {
			height: auto;
		}
	}

	.about__mission-header,
	.about__vission-header {
		margin-bottom: 30px;
		transform: none;
	}

	.about__quote {
		backdrop-filter: blur(40px);
		backdrop-filter: blur(40px);
		background: var(--color-tertiary) center/cover no-repeat;
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		color: var(--color-font__normal-light);
		display: grid;
		height: 175px;
		left: 50%;
		opacity: 0.9;
		place-items: center;
		position: relative;
		text-align: center;
		transform: translate(-50%, -35%);
		width: 682px;

		@include max-breakpoint('large') {
			display: none;
		}
	}
}
