@import '../../styles/index.scss';

.rentalServices {
	@extend %section-padding;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 50px;
	place-items: center;
	margin-bottom: 100px;

	@include max-breakpoint(1700px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include max-breakpoint('xxlarge') {
		grid-template-columns: repeat(2, 1fr);
	}

	@include max-breakpoint('medium') {
		grid-template-columns: repeat(1, 1fr);
	}
}
